@{
    @model PassageViewModel
}

<style>
    .form-spacing {
        margin-right: 10px;
    }
</style>

<div class="verse-container">
    <form asp-controller="Home" asp-action="passagePost" method="post">
        <div class="input-group" style="margin-top: 12px;">
            <input type="text" name="passage" id="passage" class='form-control form-spacing' value='@ViewData["passage"]' placeholder="Enter passage like John 3:16" />
            <span class="input-group-btn form-spacing">
                <button type="submit" class="btn btn-primary">Go</button>
            </span>         
            <!-- <div class="input-group-addon"><input type="checkbox" name="manuscript" value='true' 
                @ViewData["manuscriptchecked"]> Manuscript</div> -->
            <div class="input-group-addon form-spacing">
                <select id="format" name="format" asp-for="Format" asp-items="Model.DisplayStyles" class="custom-select" ></select>
            </div>
        </div>
    </form>

    <h2>@ViewData["Reference"]</h2>

    <div class='verses @Model.Format.ToLower()' >

        @if (@Model.VerseList != null)
        {

            if (@Model.Error)
            {
                <div class="alert alert-danger">Query Error</div>
            }
            else
            {
                @foreach (VerseViewModel verse in Model.VerseList)
                {
                    if(!string.IsNullOrWhiteSpace(verse.title))
                    {
                        <div class="verse-title">@verse.title</div>
                    }

                    <span class="verse"><sup class="verse-number">@verse.verse</sup>@Html.Raw(verse.text)</span>
                }
                <span > (@Model.Translation)</span>
            }
        }
    </div>
</div>
