@{
    @model PassageViewModel;
    VerseViewModel? first = Model.VerseList.FirstOrDefault();

    string largeVerseClass = (Model.LargeSize) ? "verse-large" : "";
}

<div class="verse-container">
    <h2>@ViewData["Title"]</h2>
    <h3 style="@Model.TextSize">@ViewData["Reference"]</h3>

    @if (first == null || first.error)
    {
        <div class="alert alert-danger">Error</div>
    }
    else
    {
        <div class="verses">
            @if (@Model.VerseList.Count() > 1)
            {
                <span class='chapter-number'>@Model.VerseList.FirstOrDefault()?.chapter</span>
            }

            @foreach (VerseViewModel verse in Model.VerseList)
            {
                <span class="verse"><sup class="verse-number">@verse.verse</sup>@verse.text</span>
            }
            <span>  -@Model.Reference</span>
        </div>
    }
</div>
